{% extends "base.html" %}
{% block title %}Map{% endblock %}
{% block content %}
<style>
    #map {
        height: 80vh;
        width: 100%; /* Adjusted to 100% to fill the entire width of the screen */
    }
</style>
<h1>Map</h1>
<div id="map" style="height: 80vh; width: 100%; margin: 0; padding: 0;"></div>

<script>
    function initMap() {
        var mapOptions = {
            zoom: 12,
            center: { lat: 37.7549, lng: -122.4477 }
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        // Fetch requests data from API endpoint
        fetch('/api/requests')
            .then(response => response.json())
            .then(data => {
                // Loop through requests and add markers
                data.forEach(request => {
                    var marker = new google.maps.Marker({
                        position: { lat: parseFloat(request.latitude), lng: parseFloat(request.longitude) },
                        map: map,
                    });

                    var hoverContent = '<div id="content">' +
                            '<div id="siteNotice">' +
                            '</div>' +
                            '<h6 class="heading">' + request.title + '</h6>' +
                            '<div id="bodyContent">' +
                            '<img src="/static/' + request.picture_path + '" alt="' + request.title + '" style="width:200px;height:200px;">' +
                            '</div>' +
                            '</div>';

                        var clickContent = '<div id="content">' +
                            '<div id="siteNotice">' +
                            '</div>' +
                            '<h6 class="heading">' + request.title + '</h6>' +
                            '<div id="bodyContent">' +
                            '<img src="/static/' + request.picture_path + '" alt="' + request.title + '" style="width:300px;height:300px;">' +
                            '</div>' +
                            '</div>';

                        var hoverInfowindow = new google.maps.InfoWindow({
                            content: hoverContent
                        });

                        var clickInfowindow = new google.maps.InfoWindow({
                            content: clickContent
                        });

                        // Hover event listener
                        marker.addListener('mouseover', function() {
                            hoverInfowindow.open(map, marker);
                        });

                        // Click event listener
                        marker.addListener('click', function() {
                            clickInfowindow.open(map, marker);
                        });

                        // Close event listener for hover
                        marker.addListener('mouseout', function() {
                            hoverInfowindow.close();
                        });
                });
            })
            .catch(error => console.error('Error fetching requests:', error));
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9vFbPLjdWDYtAxoXymE4B37l8dqJwx6M&callback=initMap"></script>
{% endblock %}
