{% extends "base.html" %}
{% block title %}Requests{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Reports</h1>
                        <div class="list-group">
                            {% for request in requests | sort(attribute='date_posted', reverse=True) %}
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">{{ request.title }}</h4>
                                    <p class="list-group-item-text">Date: {{ request.date_posted.strftime('%Y-%m-%d') }}</p>
                                    {% if request.picture_path is not none %}
                                        <img src="{{ url_for('static', filename=request.picture_path) }}" class="image" />
                                    {% else %}
                                        <img src="{{ url_for('static', filename='uploads/default_image.jpg') }}" class="image" />
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
